<html>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <head>
            <script>
                function myFunction() {
                // Declare variables
                var input, filter, ul, li, a, i;
                input = document.getElementById('myInput');
                filter = input.value.toUpperCase();
                ul = document.getElementById("myUL");
                li = ul.getElementsByTagName('li');
    
                // Loop through all list items, and hide those who don't match the search query
                for (i = 0; i < li.length; i++) {
                    a = li[i].getElementsByTagName("a")[0];
                    if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
                        li[i].style.display = "";
                    } else {
                        li[i].style.display = "none";
                    }
                }
            }
            </script>
            <style>
                a.invisible
                {
                display:none;
                }
    
                body {
                    background-color: white
                }
            </style>
        </head>
        <body>
            <%- include partial/menu.ejs%>
        
            <header class="w3-container w3-indigo">
                <h1>Messages</h1>          
            </header>  
            <input class="w3-input w3-border w3-light-grey" type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for contacts..">
            <div class="w3-container w3-indigo">
            <form class="w3-container" action='/user/messages' method='post'>
                <select name="ReceiveId" class="w3-bar-item w3-button w3-indigo" style="width:40%" style="width:100%">
                    <%user.forEach(data => {%>
                     <option value="<%=data.id%>"><%=data.username%></option>
                    <%})%>
                </select>
                <!-- <input type="text"> -->
                <input class="w3-bar-item w3-button w3-indigo" style="width:40%" type='submit' value='New Chat'>                
             </form>
            </div>
            <%if(err) {%>
                <header class="w3-container w3-red">
                        <h5>You already have an ongoing session with that user</h5>          
                </header> 
            <%}%>
             <header class="w3-container w3-indigo">
                    <h3>Inbox</h3>          
            </header>  
            <ul id='myUL'class="w3-ul w3-card-4 w3-hoverable">
                <%inbox.forEach(row => {%>
                    <li onclick="location.href = '/user/messages/<%=row.id%>/inbox'" class="w3-bar w3-hover-blue">
                        <a class = 'invisible' href='#'><%=row.User.username%></a>
                    <img src="http://localhost:3000/images/<%=row.photo%>" class="w3-bar-item w3-circle" style="width:85px">
                        <div class="w3-bar-item">
                            <span id='nama'class="w3-large"><%=row.User.username%></span><br>
                            <span><%=row.createdAt%></span>
                        </div>
                    </li>
                <%})%>       
            </ul>
            <header class="w3-container w3-indigo">
                    <h3>Outbox</h3>          
            </header> 
            <ul id='myUL'class="w3-ul w3-card-4 w3-hoverable">
                    <%outbox.forEach(row => {%>
                        <li onclick="location.href = '/user/messages/<%=row.id%>/outbox'" class="w3-bar w3-hover-blue">
                            <a class = 'invisible' href='#'><%=row.ReceiveName%></a>
                        <img src="http://localhost:3000/images/<%=row.photo%>" class="w3-bar-item w3-circle" style="width:85px">
                            <div class="w3-bar-item">
                                <span id='nama'class="w3-large"><%=row.ReceiveName%></span><br>
                                <span><%=row.createdAt%></span>
                            </div>
                        </li>
                    <%})%>       
                </ul>
        </body>
    </html>