<html>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <head>
                <script>
                    function myFunction() {
                    // Declare variables
                    var input, filter, ul, li, a, i;
                    input = document.getElementById('myInput');
                    filter = input.value.toUpperCase();
                    ul = document.getElementById("myUL");
                    li = ul.getElementsByTagName('li');
        
                    // Loop through all list items, and hide those who don't match the search query
                    for (i = 0; i < li.length; i++) {
                        a = li[i].getElementsByTagName("a")[0];
                        if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
                            li[i].style.display = "";
                        } else {
                            li[i].style.display = "none";
                        }
                    }
                }
                </script>
                <style>
                    a.invisible
                    {
                    display:none;
                    }
        
                    body {
                        background-color: white
                    }
                </style>
            </head>
            <%- include partial/menu.ejs%>            
            <body>
            <ul id='myUL'class="w3-ul w3-card-4 w3-hoverable">
                <%if(row.Messages.length > 0) {%>
                <%row.Messages.forEach(data => {%>
                    <li class="w3-bar w3-hover-blue">
                        <a class = 'invisible' href='#'><%=data.comment%></a>
                    <!-- <span onclick= "location.href = '/user/comment/delete/<%=data.id%>/<%=row.id%>'"class="w3-bar-item w3-button w3-xlarge w3-right">x</span> -->
                        <div class="w3-bar-item">
                            <span id='nama'class="w3-large"><%=data.message%></span><br>
                            <span><%=data.Username%> at <%=row.createdAt%></span>
                        </div>
                    </li>
                <%})%> 
                <%} else {%>
                    <li class="w3-bar w3-hover-blue">
                        <div class="w3-bar-item">
                            <span id='nama'class="w3-large">No Messages yet</span><br>
                        </div>
                    </li>
                <%}%> 
            </ul>
            <br>
            <div class="w3-card-4">
            <form class ="w3-container" action='/user/messages/<%=row.id%>/send/<%=position%>' method='post'>
                <input class="w3-input w3-animate-input"  style="width:80%" type='text' name='message' value='' placeholder='Type'>
            </div>
                <button class="w3-button w3-block w3-indigo" style="width:100%" type='submit'>Enter</button>
            </form>
        </body>
    </html>